<div class="user-dashboard">
  <span>Hi, user!</span>

  <form action="/logout" method="post" class="ms-3" style="display: inline;">
    <button type="submit" class="btn btn-secondary">登出</button>
  </form>
  
  <a href="/login"><button class="btn btn-info">登入</button></a>
</div>