<div class="user-dashboard">
  {{#if user_name}}
  <span style="color: #4592af;">使用者：{{user_name}}</span>

  <form action="/logout" method="post" class="ms-3" style="display: inline;">
    <button type="submit" class="btn btn-secondary">登出</button>
  </form>
  {{/if}}
  
  {{#if (not user_name)}}
  <a href="/login"><button class="btn btn-success">登入</button></a>
  <a href="/register"><button class="btn btn-primary ms-2">註冊新帳號</button></a>
  {{/if}}
</div>